body {
    font-family: sans-serif;
    background-color: orange;
    background-image: url("/ui/depositphotos_127845906-stock-illustration-black-headphones-with-red-cord.jpg");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

