body {
    font-family: sans-serif;
    background-color: orange;
   
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.pageContent {
    height: 30rem;
    left: 4rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 9.5rem;
    width: 36rem;
    padding-left : 20;
    padding-right: 20;
}